<div class="mb-3">
    <label class="form-label fw-bold">@Label</label>
    <input type="@Type" class="form-control" value="@Value" @onchange="OnValueChanged" placeholder="@Placeholder" />
</div>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public string Value { get; set; }
    [Parameter] public string Placeholder { get; set; }
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    private Task OnValueChanged(ChangeEventArgs e)
    {
        return ValueChanged.InvokeAsync(e.Value?.ToString());
    }
}
