@inherits LayoutComponentBase

<EduConnect.Shared.CascadingAuthState>
    <div class="page">
        <NavBar />
        
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</EduConnect.Shared.CascadingAuthState>
